@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  position: relative;
  box-sizing: border-box;
}
h3 {
  font-weight: 800;
}
.fado-container {
  max-width: 1220px;
  margin: auto;
  font-family: Avenir W01, sans-serif;
}
.align-center {
  text-align: center;
}
.calculate-shipping-split {
  display: grid;
  grid-template-columns: 50% 2% 48%;
  margin-top: 2em;
}
.shipping-calculator {
  border: 1px solid #b11e22;
  border-radius: 1em;
  padding: 1em 4em 1em;
  box-shadow: 0px 0px 10px #e7e7e7;
}
.shipping-logo {
  margin-top: 1em;
  display: flex;
}
.logo {
  object-fit: cover;
  object-position: center;
  width: 4em;
  height: 4em;
}
.mylabel {
  font-size: 1.2em;
}
.text-logo {
  margin: 0.5em;
  font-size: medium;
  line-height: 1.3em;
}
.trueprice-disclaimer {
  font-size: small;
  margin-bottom: 2em;
}
.shipping-from {
  margin-top: 0.5em;
  padding-left: 3em;
  padding-right: 6em;
  border-radius: 4px;
  height: 2.5em;
  font-size: 1.2em;
  width: 100%;
  background-color: #d0dde6;
}
.shipping-from:focus {
  box-shadow: 0px 0px 5px black;
}
.delivering-to {
  background-color: #d0dde6;
  margin-top: 0.5em;
  padding-left: 3em;
  padding-right: 6em;
  border-radius: 4px;
  height: 2.5em;
  font-size: 1.2em;
  width: 100%;
}
.delivering-to:focus {
  box-shadow: 0px 0px 5px black;
}
.location-icon {
  position: absolute;
  top: 50%;
  left: 15px;
}
.weight {
  margin-top: 0.5em;
  padding-left: 3em;
  padding-right: 6em;
  border-radius: 4px;
  height: 2.5em;
  font-size: 1.2em;
  width: 100%;
  border: 0.8px solid black;
}
.weight-icon {
  position: absolute;
  top: 55%;
  right: 15px;
}
.greater-dims {
  margin: 1em 0em 1em;
  font-size: 1.1em;
  line-height: 1.5;
}
.btn-link {
  border: none;
  background-color: white;
  padding: 0px;
  font-size: 0.9em;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.shipping-form-submit {
  width: 100%;
  height: 5em;
  background-color: #0b5b8a;
  color: white;
  font-size: x-small;
  letter-spacing: 0.3px;
  border: none;
  border-radius: 5px;
}
.shipping-form-submit:hover {
  background-color: #0a496d;
  cursor: pointer;
}
.btn-view {
  margin-top: 1em;
  border: none;
  background-color: white;
  color: blue;
}
.disclaimer {
  font-size: small;
}
.calculate-shipping-split-right {
  padding: 1em 3em 1em;
}
.calculate-shipping-split-desc {
  font-size: large;
  line-height: 1.5em;
  margin: 1.2em 0em 1.2em;
}
.btn-signup {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #0b5b8a;
  width: 50%;
  margin: auto;
  padding: 1em 2em;
  border-radius: 5px;
}
.calculate-shipping-save-heading {
  margin-top: 4em;
}
.calculate-shipping-save-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.calculate-shipping-save-item {
  box-shadow: 0px 0px 15px #e7e7e7;
  height: 25em;
  padding: 1.5em;
  margin: 1.5em;
}
.calculate-shipping-save-item-top {
  display: flex;
}
.calculate-shipping-save-item-icon {
  margin-right: 2em;
}
.calculate-shipping-save-item-desc {
  font-size: 1.1em;
  line-height: 1.7em;
}
.calculate-shipping-save-item-link {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
}
.calculate-shipping-save-sub-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn-signin {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #0b5b8a;
  width: 20%;
  margin: auto;
  padding: 1em 2em;
  border-radius: 5px;
}
.faqs-heading {
  margin-top: 5em;
  text-align: center;
}
.collapsible {
  width: 100%;
  margin-bottom: 1em;
}
.collapsible-btn {
  padding: 0.5em 2em 0.5em 2em;
  height: 3em;
  width: 100%;
  text-align: left;
  background-color: #fafafa;
  border: none;
  font-size: 1.5em;
  font-weight: 540;
  letter-spacing: 2px;
}
.collapsible-content {
  display: none;
  padding: 0.5em 2em 0.5em 3em;
  height: fit-content;
  width: 100%;
  text-align: left;
  background-color: #fafafa;
  border: none;
  font-size: 1.1em;
  letter-spacing: 2px;
}
.ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}
.li {
  text-decoration: none;
  font-size: 1.1em;
}
.arrow-down {
  position: absolute;
  top: -8%;
  right: 20px;
  transform: translateY(+50%);
  font-size: xx-large;
}
.faqs-heading {
  margin-bottom: 1em;
  font-weight: 700;
}
.calculate-shipping-save-item-top {
  margin-bottom: 2em;
}
.calculate-shipping-save-heading  {
  font-weight: 700;
}
.calculate-shipping-heading {
  font-weight: 700;
}
.calculate-shipping-split-heading {
  font-weight: 700;
  font-size: 1.5em;
}